@model AlterarSenhaModel

@{
    ViewData["Title"] = "Alterar senha do usuário";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
else if (TempData["MensagemError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemError"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form method="post" asp-controller="AlterarSenha" asp-action="Alterar">
    <div class="form-group">
        <label for="senhaAtual">Senha Atual</label>
        <input type="password" class="form-control" placeholder="Digite a senha atual do usuario" asp-for="SenhaAtual">
        @Html.ValidationMessageFor(x => x.SenhaAtual)
    </div>
    <div class="form-group">
        <label for="novaSenha">Nova Senha</label>
        <input type="password" class="form-control" placeholder="Digite a nova senha do usuario" asp-for="NovaSenha">
        @Html.ValidationMessageFor(x => x.NovaSenha)
    </div>
    <div class="form-group">
        <label for="confirmarSenha">Confirmar Nova Senha</label>
        <input type="password" class="form-control" placeholder="Confirme a nova senha do usuario" asp-for="ConfirmarNovaSenha">
        @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</form>